{% extends 'layout.html' %}
{% block main %}

<div role="main">
    <div class="container form-container">
        <h2>Edit Profile</h2>
        <form method="POST" action="{{ url_for('users.edit_profile') }}">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.bio.label }}
                {{ form.bio(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.submit(class="button") }}
            </div>
        </form>
    </div>
</div>

{% endblock %}