{% extends 'layout.html' %}
{% block main %}
  <main>
    <div class="container form-container form-group p-4">
      <form action="{{ url_for("users.login") }}" method="post" class="p-4">
        <!-- this below is required for form validation to succeed -->
        {{ form.hidden_tag() }}
        <h2>Login</h2>
        <div class="mb-3">
          {{ form.username.label(class="form-label") }}
          {{ form.username(class="form-control custom-textfield") }}
        </div>
        <div class="mb-3">
          {{ form.password.label(class="form-label") }}
          {{ form.password(class="form-control custom-textfield") }}
        </div>
        <div class="mb-3 form-check">
          {{ form.remember_me(class="form-check-input") }}
          {{ form.remember_me.label(class="form-check-label") }}
        </div>
        <div class="flash">
          {% for message in get_flashed_messages() %}<p class="error">{{ message }}</p>{% endfor %}
        </div>
        <div class="form-group button">{{ form.submit(class_="btn btn-primary") }}</div>
        <br>
      </form>
      <div>
        Already have an account? <a href="{{ url_for("users.login") }}">Click here</a>
      </div>
    </div>
  </main>
{% endblock %}
