{% extends 'layout.html' %}
{% block main %}
    <main>
        <div class="container form-container form-group p-4">
            <form action="{{ url_for("users.register") }}" method="post" class="p-4">
                <!-- this below is required for form validation to succeed -->
                {{ form.hidden_tag() }}
                <h2>Register</h2>
                <div class="form-group">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control custom-textfield") }}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control custom-textfield") }}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-label") }}
                    {{ form.confirm_password(class="form-control custom-textfield") }}
                </div>
                <div class="flash">
                    {% for error in form.confirm_password.errors %}<p class="error">{{ error }}</p>{% endfor %}
                </div>
                <br>
                <div class="form-group button">{{ form.submit(class_="btn btn-primary") }}</div>
            </form>
            <div>
                Already have an account? <a href="{{ url_for("users.login") }}">Click here</a>
            </div>
        </div>
    </main>
{% endblock %}
